.ui-color {
  display: flex;
  align-items: center;
}

.ui-color__square {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  background: black;
}


.ui-color__square_ds100 {
  background: $ds100;
}

.ui-color__square_ds75 {
  background: $ds75;
}

.ui-color__square_ds50 {
  background: $ds50;
}

.ui-color__square_ds25 {
  background: $ds25;
}

.ui-color__square_ds5 {
  background: $ds5;
}

.ui-color__square_purple {
  background: $purple;
}

.ui-color__square_green {
  background: $green;
}

.ui-color__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.ui-color__title {
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 28px;
}

.ui-color__description {
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
}
