extends ../../template/ui-template/ui-template
include ../../components/text-field/text-field
include ../../components/dropdown/dropdown
include ../../components/masked-text-field/masked-text-field
include ../../components/dropdown-date/dropdown-date
include ../../components/subscription-text-field/subscription-text-field
include ../../components/checkbox-buttons/checkbox-buttons
include ../../components/radio/radio
include ../../components/toggle/toggle
include ../../components/like-button/like-button
include ../../components/rate-button/rate-button
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/pagination/pagination
include ../../components/dropdown/dropdown
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/checkbox-buttons/checkbox-buttons
include ../../components/bullet-list/bullet-list
include ../../components/amenities/amenities
include ../../components/comment/comment

block parameters
    - title = 'Элементы форм'

block main
    .form-elements
        .form-elements__container
            .form-elements__header
                .form-elements__item
                    .form-elements__text-field-default
                        +text-field({title: 'text field', status: 'default', placeholder: 'Email', value: ''})
                    .form-elements__text-field-focus
                        +text-field({title: 'text field', status: 'hover / focus', placeholder: 'Email', value: 'This is pretty awesome'})
                    .form-elements__dropdown
                        +dropdown({title: 'dropdown', status: '', params: 'guests', hide: false, little: false, value: {adult: 0, child: 0, baby: 0}})
                    .form-elements__masked-text-field
                        +masked-text-field({title: 'masked text field', little: false})
                    .form-elements__date-dropdown-double
                        +dropdown-date({dropdown: 'double', title_one: 'date Dropdown', title_two: 'date Dropdown',  status: '', placeholder: 'ДД.ММ.ГГГГ', readonly: true})
                    .form-elements__date-dropdown-single-little
                        +dropdown-date({dropdown: 'single', title: 'filter date dropdown', status: '', placeholder: 'ДД.ММ.ГГГГ', little: true})
                    .form-elements__subscription-text-field
                        +subscription-text-field({title: 'subscription text field', placeholder: 'Email', little: true})
                .form-elements__item
                    .form-elements__checkbox-buttons
                        +checkbox-buttons({
                            title: 'checkbox buttons',
                            list: [{description: 'Можно курить'},
                                {description: 'Можно с питомцами', checked: true},
                                {description: 'Можно пригласить гостей <br>(до 10 человек)', checked: true}]
                        })
                    .form-elements__radio-buttons
                        span.form-elements__radio-buttons-tittle Radio Buttons
                        ul.form-elements__radio-buttons-list
                            li.form-elements__radio-buttons-item
                                +radio({name: 'gender', value: 'men', description: 'Мужчина', checked: true})
                            li.form-elements__radio-buttons-item
                                +radio({name: 'gender', value: 'women', description: 'Женщина', checked: false})
                    .form-elements__toggle
                        span.form-elements__toggle-title toggle
                        ul.form-elements__toggle-list
                            li.form-elements__toggle-item
                                +toggle({description: 'Получать спецпредложения', checked: true})
                            li.form-elements__toggle-item
                                +toggle({description: 'Получать спецпредложения', checked: false})
                    .form-elements__like-button
                        span.form-elements__like-button-title like button
                        ul.form-elements__like-button-list
                            li.form-elements__like-button-item
                                +like-button({value: '2', checked: false})
                            li.form-elements__like-button-item
                                +like-button({value: '12', checked: true})
                    .form-elements__rate-button
                        span.form-elements__rate-button-title rate button
                        ul.form-elements__rate-button-list
                            li.form-elements__rate-button-item
                                +rate-button({rating: 4})
                            li.form-elements__rate-button-item
                                +rate-button({rating: 5})
                .form-elements__item
                    .form-elements__range-slider
                        +range-slider({title: 'Range Slider', min: '0', max: '15000', from: '5000', to: '10000'})
                    .form-elements__buttons
                        span.form-elements__buttons-title buttons
                         ul.form-elements__buttons-list
                             li.form-elements__buttons-item.form-elements__buttons-item_small
                                +button({value: 'shaded', narrow: false})
                             li.form-elements__buttons-item.form-elements__buttons-item_small
                                 +button({value: 'bordered', narrow: false})
                             li.form-elements__buttons-item.form-elements__buttons-item_small
                                +button({value: 'uncoloured' , narrow: true})
                             li.form-elements__buttons-item.form-elements__buttons-item_large
                                +button({value: 'arrow', description: 'перейти к оплате'})
                    .form-elements__pagination
                        span.form-elements__pagination-title pagination
                        .form-elements__pagination-body
                            +pagination({page: 175, size: 12})
            .form-elements__center
                .form-elements__item
                    .form-elements__dropdown-default
                        +dropdown({title: 'dropdown', status: 'default', params: 'rooms', show: false, little: true, value: {bedroom: 2, bed: 2, bathroom: 3}})
                    .form-elements__expanded
                        +dropdown({title: 'dropdown', status: 'expanded', params: 'rooms', show: true, little: true, value: {bedroom: 2, bed: 2, bathroom: 0}})
                    .form-elements__expandable-checkbox-list-hide
                        +expandable-checkbox-list({
                            title: 'expandable checkbox list', checked: false,
                            list: [
                                {description: 'Завтрак'},
                                {description: 'Письменный стол', checked: true},
                                {description: 'Стул для кормления', checked: true},
                                {description: 'Кроватка', checked: true},
                                {description: 'Телевизор'},
                                {description: 'Шампунь'}
                            ]
                        })
                    .form-elements__expandable-checkbox-list-show
                        +expandable-checkbox-list({
                            title: 'expandable checkbox list', checked: true,
                            list: [
                                {description: 'Завтрак'},
                                {description: 'Письменный стол', checked: true},
                                {description: 'Стул для кормления', checked: true},
                                {description: 'Кроватка', checked: true},
                                {description: 'Телевизор'},
                                {description: 'Шампунь'}
                            ]
                        })
                .form-elements__item
                    .form-elements__dropdown-guests
                        +dropdown({title: 'dropdown', status: 'expanded', params: 'guests', show: true, little: false, value: {adult: 0, child: 0, baby: 0}})
                    .form-elements__rich-checkbox-buttons
                        +checkbox-buttons({
                            title: 'rich checkbox buttons',
                            list: [
                                {
                                    title: 'Широкий коридор',
                                    description: 'Ширина коридоров в номере <br>не менее 91 см.'
                                },
                                {
                                    title: 'Помощник для инвалидов',
                                    description: 'На 1 этаже вас встретит специалист <br>и проводит до номера.',
                                    checked: true
                                }
                            ]
                        })
                .form-elements__item
                    .form-elements__dropdown-guests
                        +dropdown({title: 'dropdown', status: 'expanded', params: 'guests', show: true, little: false, value: {adult: 2, child: 1, baby: 0}})
                    .form-elements__bullet-list
                        span.form-elements__bullet-list-title bullet list
                        .form-elements__bullet-list-body
                            +bullet-list(['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])

            .form-elements__footer
                .form-elements__amenities
                    ul.form-elements__amenities-list
                        li.form-elements__amenities-item
                            +amenities({icon: 'insert_emoticon', description: 'Комфорт', comment: 'Шумопоглощающие стены'})
                        li.form-elements__amenities-item
                            +amenities({icon: 'location_city', description: 'Удобство', comment: 'Окно в каждой из спален'})
                .form-elements__comment
                    +comment({
                        img: 'face1.jpg',
                        name: 'Мурад Сарафанов',
                        status: '5 дней назад',
                        comment: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
                        like: {checked: true, value: 12}
                    })

