extends ../../template/website-template/website-template
include ../../components/pages/sign-in-page/sign-in-page

block parameters
    - title = 'Авторизация'

block main
    +sign-in-page({link: mock})