.subscription-text-field {
  width: 100%;
  max-width: 320px;
  position: relative;
}

.subscription-text-field_little {
  max-width: 266px;
}

.subscription-text-field__icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Material Icons';

  &::before {
    content: 'arrow_forward';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}
