$ds100: #1F2041;
$ds75: rgba($ds100, 0.75);
$ds50: rgba($ds100, 0.5);
$ds25: rgba($ds100, 0.25);
$ds5: rgba($ds100, 0.05);
$purple: #BC9CFF;
$green:  #6FCF97;
$white: #FFF;
$black: #000;
$gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$gradient-green: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$width-xxl: 1439px;
$width-xl: 1399px;
$width-l: 1250px;
$width-m: 880px;
$width-s: 769px;

@mixin h1 {
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
@mixin h2 {
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
}
@mixin h3 {
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
@mixin body {
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@mixin etc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin card {
  box-sizing: border-box;
  width: 100%;
  max-width: 380px;
  min-width: 280px;
  padding: 39px 29px 30px;
  border: 1px solid rgba($black, 0.12);
  box-shadow: 0 0 25px rgba($black, 0.2);
  border-radius: 4px;
  background: $white;
}

@mixin card-container {
  border: none;
  box-sizing: border-box;
  width: 100%;
}


