include ../../components/name-form-elements/name-form-elements


mixin bullet-list(options)

    if !options
        - options = []

    ul.bullet-list
        each item in options
            li.bullet-item!=item


