.bullet-item {
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $ds75;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 10px;

  &:first-child {
    padding-top: 0;
  }

  &::before {
    display: block;
    content: '';
    height: 10px;
    min-width: 10px;
    background: $ds25;
    border-radius: 50%;
    margin-right: 11px;
    margin-top: 7px;
  }
}
