@font-face {
  font-family: Montserrat;
  src: url('montserrat-regular/Montserrat-Regular.woff') format('woff'),
  url('montserrat-regular/Montserrat-Regular.ttf') format('truetype'),
  url('montserrat-regular/Montserrat-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('montserrat-bold/Montserrat-Bold.woff') format('woff'),
  url('montserrat-bold/Montserrat-Bold.ttf') format('truetype'),
  url('montserrat-bold/Montserrat-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Quicksand;
  src: url('quicksand-regular/Quicksand-Regular.woff') format('woff'),
  url('quicksand-regular/Quicksand-Regular.ttf') format('truetype'),
  url('quicksand-regular/Quicksand-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  src: url('quicksand-bold/Quicksand-Bold.woff') format('woff'),
  url('quicksand-bold/Quicksand-Bold.ttf') format('truetype'),
  url('quicksand-bold/Quicksand-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Material Icons;
  src: local('Material-Icons'),
  local('MaterialIcons-Regular'),
  url('material-icons-regular/MaterialIcons-Regular.woff') format('woff'),
  url('material-icons-regular/MaterialIcons-Regular.ttf') format('truetype'),
  url('material-icons-regular/MaterialIcons-Regular.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}

